<div id="menuList" class="">
{{#each menus}}
<div class="col-lg-3 col-md-4 col-xs-6 thumb" data-id="{{id}}">
	<div class="thumbnail">
		<a  href="javascript:void(0);">	 
			<img  data-id="{{id}}" style="width: 200px; height: 130px;"  class="img-responsive"	src="{{images}}" alt="">
		</a>
		<strong class="center">{{text}}</strong>
	</div>
</div>
									
{{/each}}							
</div>