  <div id="sliderTab" class="tab-pane active memo">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="carousel slide" id="slider">
                            <ol class="carousel-indicators">
                            

                            
                            </ol>
                            <div class="carousel-inner">
                            
                            
                            
                            </div>
                            <a class="left carousel-control" href="#slider" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#slider" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
   </div>
