    		<div class="form-inline" role="form">
        		<button type="button" class="btn" id="newReportMemo">新报表注释</button>
        		
        		
        		<span class="">过滤条件: &nbsp;&nbsp;
        		<label for="searchIndicator" class="control-label">指标名称</label>
            	
                		<select class="selectpicker" id="searchIndicator" name="searchIndicator">
                		</select>
            	</span>
            	&nbsp;&nbsp;
            	<label for="searchPeriod" class="control-label">指标期间</label>
            	
                		 <input type="text"  name="searchPeriod" readonly id="searchPeriod" class="form-control">
                		
            	</span>
            	
        		
        		
        		
        		
        	</div>
