.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 40%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.postscript-files-list {
    height: 50px;
}
a.list-group-item {
    color: #FFF;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #53534F;
    border: 0px solid #ddd;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #7D7D7F;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #000;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}
.memoby {
    margin: 0 0 10px;
    border-radius: 4px;
}
.file-preview-text {
    display: table-cell;
    width: 100px;
    height: 100px;
    color: #428bca;
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
}
.x-view-selected {
    background-color: rgba(100, 100, 100, .15);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-top: 0px solid rgba(0, 0, 0, .15);
}
.datepicker {
    z-index: 1151 !important;
}
.carousel-control.left {
    background-image: none !important;
    filter: none;
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none !important;
    filter: none;
    background-repeat: repeat-x;
}
.memo {
    border: none;
    color: #ffffff;
    background-color: #272b2e;
    padding-left: 0;
    padding-right: 0;
    font-family: "Microsoft Yahei", "微软雅黑", "SimSun", "宋体", "Arial Narrow", serif
}
.memo2 {
    border: none;
    color: #ffffff;
    background-color: #53534F;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Microsoft Yahei", "微软雅黑", "SimSun", "宋体", "Arial Narrow", serif
}
.tab-pane {
    padding-top: 10px;
}
