.memoby{


    margin: 0 0 10px;
    border-radius: 4px;

}
.footerPostscripts {
    

    height: 100px;
    overflow:auto;
    background-color: #53534F;
    display: block;
    
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    
    border-radius: 4px;
    border: none;
    
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Microsoft Yahei", "微软雅黑", "SimSun", "宋体", "Arial Narrow", serif;
}
.file-preview-text {
    display: table-cell;
    width: 100px;
    height: 100px;
    color: #428bca;
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
}
.x-view-selected {
    background-color: rgba(100, 100, 100, .15);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-top: 0px solid rgba(0, 0, 0, .15);
}
.datepicker {
    z-index: 1151 !important;
}
.carousel-control.left {
    background-image: none !important;
    filter: none;
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none !important;
    filter: none;
    background-repeat: repeat-x;
}
.memo {
    border: none;
    color: #ffffff;
    background-color: #272b2e;
    padding-left: 0;
    padding-right: 0;
    font-family: "Microsoft Yahei", "微软雅黑", "SimSun", "宋体", "Arial Narrow", serif
}
.memo2 {
    border: none;
    color: #ffffff;
    background-color: #53534F;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Microsoft Yahei", "微软雅黑", "SimSun", "宋体", "Arial Narrow", serif
}
.tab-pane {
    padding-top: 10px;
}
